.product-details {
  display: flex;
  align-items: center;
}

.product-image {
  max-width: 200px;
  max-height: 200px;
  margin-right: 20px;
}

.product-info {
  flex: 1;
}

.product-price {
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
}

.product-details p {
  margin-bottom: 5px;
}

a {
  display: block;
  margin-top: 20px;
}
p {
  color: rgb(0, 0, 0);
}
