.navbar {
  background-color: #e3f5fd;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgb(248, 243, 243);
}

.navbar .last-item {
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
  margin: 0 10px;
}

.navbar a:hover {
  color: rgb(125, 214, 255);
}

.navbar a.active {
  color: hsl(0, 0%, 100%);
}
