.navbar {
  background-color: #f8f8f8;
  padding: 10px;
}

.navbar__logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar__menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar__item {
  margin-right: 10px;
}

.navbar__item a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.navbar__item a:hover {
  color: #007bff;
}

.navbar__collapse {
  display: none;
}

.toggle {
  transform: rotate(180deg);
}